@mixin eeyeo-window {
  .v-window-header {
    color: $darkBrown;
    text-shadow: 0 1px 0 #fff;
  }

  .v-window-modalitycurtain {
    background: $forestGreen;
  }

  .v-window-dialog .v-window-contents > div {
    background: $cream;
  }
}