<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:context="http://www.springframework.org/schema/context"
             xmlns:tx="http://www.springframework.org/schema/tx"
             xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <authentication-manager alias="authenticationManager">
        <authentication-provider>
            <user-service>
                <user name="nicolas" authorities="all" password="nicolas"/>
                <user name="admin" authorities="all" password="admin"/>
            </user-service>
        </authentication-provider>
    </authentication-manager>

    <beans:bean class="org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler" name="logoutHandler">
        <beans:property name="invalidateHttpSession" value="false"/>
    </beans:bean>

</beans:beans>