<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <!--
        Last bean file to be imported
         Place any bean overrides here.
    -->
    <util:properties id="hibernateOverrideProperties">
        <!--prop key="hibernate.dialect">com.jtbdevelopment.e_eye_o.hibernate.DAO.misc.DerbyUniqueNonNull</prop-->
        <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
    </util:properties>

    <!-- Example using Derby  -->
    <!--bean id="dataSource" class="org.apache.derby.jdbc.EmbeddedConnectionPoolDataSource40">
        <property name="databaseName" value="${java.io.tmpdir}/EEYEODB"/>
        <property name="createDatabase" value="create"/>
    </bean-->

    <!-- Example Using MySQL  -->
    <!--bean id="dataSource" class="com.mysql.jdbc.jdbc2.optional.MysqlDataSource">
        <property name="url" value="jdbc:mysql://localhost:3306/eeyeodb"/>
        <property name="user" value="eeyeodbuser"/>
        <property name="password" value="eeyeodbuser"/>
        <property name="databaseName" value="eeyeodb"/>
    </bean-->

    <!-- Example using Tomcat Pool + MySQL  -->
    <bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource">
        <property name="url" value="jdbc:mysql://localhost:3306/eeyeodb"/>
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="username" value="eeyeodbuser"/>
        <property name="password" value="eeyeodbuser"/>
        <property name="defaultCatalog" value="eeyeodb"/>
        <property name="testOnBorrow" value="true"/>
        <property name="maxActive" value="20"/>
        <property name="initialSize" value="5"/>
        <property name="minIdle" value="5"/>
        <property name="logAbandoned" value="true"/>
        <property name="removeAbandoned" value="true"/>
        <property name="validationQuery" value="SELECT 1"/>
        <property name="maxWait" value="10000"/>
        <property name="validationInterval" value="30000"/>
        <property name="minEvictableIdleTimeMillis" value="30000"/>
        <property name="timeBetweenEvictionRunsMillis" value="30000"/>
        <property name="removeAbandonedTimeout" value="60000"/>
    </bean>

    <!--  Strongly recommended  -->
    <bean id="passwordEncoder" class="org.springframework.security.crypto.password.StandardPasswordEncoder">
        <constructor-arg value="${password.encoder.secret}"/>
    </bean>

    <!--  You must define a usable org.springframework.mail.javamail.JavaMailSender  -->
    <!--  This is an untested GMAIL example  -->
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.gmail.com"/>
        <property name="port" value="587"/>
        <property name="username" value="username"/>
        <property name="password" value="password"/>

        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
            </props>
        </property>
    </bean>

</beans>