<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <global-method-security secured-annotations="enabled"/>

    <http auto-config="true">
        <intercept-url pattern="/E-EYE-O/Login/**" access="IS_AUTHENTICATED_ANONYMOUSLY" requires-channel="https"/>
        <intercept-url pattern="/REST/v2/security/**" access="IS_AUTHENTICATED_ANONYMOUSLY" requires-channel="https"/>
        <!-- TODO - below needs to be retired  -->
        <intercept-url pattern="/REST/security/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/VAADIN/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/WEB-INF" access="ROLE_USER, ROLE_ADMIN"/>
        <intercept-url pattern="/**" access="ROLE_USER, ROLE_ADMIN"/>
        <form-login login-page="/E-EYE-O/Login" default-target-url="${url.root}" always-use-default-target="true"/>
        <remember-me services-ref="rememberMeServices" key="EEYEO"/>
    </http>

    <beans:bean id="rememberMeServices"
                class="org.springframework.security.web.authentication.rememberme.PersistentTokenBasedRememberMeServices">
        <beans:property name="tokenValiditySeconds" value="${rememberme.token.validity}"/>
        <beans:property name="userDetailsService" ref="userDetailsService"/>
        <beans:property name="tokenRepository" ref="persistentTokenRepository"/>
        <!--beans:property name="useSecureCookie" value="true"/-->  <!--  TODO -->
        <beans:property name="key" value="EEYEO"/>
    </beans:bean>

    <beans:bean id="rememberMeAuthenticationProvider"
                class="org.springframework.security.authentication.RememberMeAuthenticationProvider">
        <beans:property name="key" value="EEYEO"/>
    </beans:bean>

    <beans:bean id="rememberMeFilter"
                class="org.springframework.security.web.authentication.rememberme.RememberMeAuthenticationFilter">
        <beans:property name="authenticationManager" ref="authenticationManager"/>
        <beans:property name="rememberMeServices" ref="rememberMeServices"/>
    </beans:bean>

    <authentication-manager alias="authenticationManager">
        <authentication-provider ref="rememberMeAuthenticationProvider"/>
        <authentication-provider user-service-ref="userDetailsService">
            <password-encoder ref="passwordEncoder"/>
        </authentication-provider>
    </authentication-manager>

</beans:beans>