@import "../runo/runo.scss";
@import "logo/logo.scss";
@import "sidetabs/sidetabs.scss";
@import "optiongroup/optiongroup.scss";
@import "table/table.scss";
@import "tabsheet/tabsheet.scss";
@import "notification/notification.scss";
@import "titlebar/titlebar.scss";

//  TODO - style dialog windows

//  Three Antique Dresses color palette from color schemer gallery
$cream: #f2e3b9;
$mediumBrown: #e0a674;
$darkBrown: #c5734b;
$forestGreen: #ccc380;
$greenGray: #bec790;
$brownGray: #c9a283;

//  TODO - delete if unused
#

$color: black;
#

$tableHeaderBackground: black;
#

$tableHeaderForeground: white;
#

$tableRowBackground: white;
#

$tableRowForeground: black;
#

$tableRowBackgroundAlternate: white;
#

$tableRowForegroundAlternate: black;
#

$tableRowBackgroundSelected: $darkBrown;
#

$tableRowForegroundSelected: black;

@mixin eeyeo {
  @include runo;
  @include eeyeo-logo;
  @include eeyeo-sidetabs;
  @include eeyeo-optiongroup;
  @include eeyeo-table;
  @include eeyeo-tabsheet;
  @include eeyeo-notification;
  @include eeyeo-titlebar;

  .v-ui {
    background: $cream;
  }

  .v-filterselect-input {
    text-align: right;
  }

  .v-filterselect-suggestmenu {
    text-align: right;
  }

  .v-button .v-button-wrap, .v-disabled.v-button .v-button-wrap {
    background-image: none;
    background-image: linear-gradient(bottom, rgb(242, 227, 185) 12%, rgb(224, 166, 116) 55%);
    background-image: -o-linear-gradient(bottom, rgb(242, 227, 185) 12%, rgb(224, 166, 116) 55%);
    background-image: -moz-linear-gradient(bottom, rgb(242, 227, 185) 12%, rgb(224, 166, 116) 55%);
    background-image: -webkit-linear-gradient(bottom, rgb(242, 227, 185) 12%, rgb(224, 166, 116) 55%);
    background-image: -ms-linear-gradient(bottom, rgb(242, 227, 185) 12%, rgb(224, 166, 116) 55%);

    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.09, rgb(242, 227, 185)), color-stop(0.55, rgb(224, 166, 116)));
    color: black;
    text-shadow: $forestGreen 0 2px 2px;
  }

  .v-button-default .v-button-wrap, .v-disabled.v-button-default .v-button-wrap {
    background-image: none;
    background-image: linear-gradient(bottom, rgb(242, 227, 185) 12%, rgb(197, 116, 75) 55%);
    background-image: -o-linear-gradient(bottom, rgb(242, 227, 185) 12%, rgb(197, 116, 75) 55%);
    background-image: -moz-linear-gradient(bottom, rgb(242, 227, 185) 12%, rgb(197, 116, 75) 55%);
    background-image: -webkit-linear-gradient(bottom, rgb(242, 227, 185) 12%, rgb(197, 116, 75) 55%);
    background-image: -ms-linear-gradient(bottom, rgb(242, 227, 185) 12%, rgb(197, 116, 75) 55%);

    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.12, rgb(242, 227, 185)), color-stop(0.55, rgb(197, 116, 75)));
    color: black;
    text-shadow: $forestGreen 0 2px 2px;
  }

  .table-spacer-row {
    height: 15px;
  }
}
